---
import Nav from '../../components/Nav.astro';
import Layout from '../../layouts/Layout.astro';
import '../../styles/styles.css';
---

<Layout>

<Nav/>

<h1>Resume</h1>  

    <div class="pdf-container">
    <iframe 
      src="/Resume-ShivaReddy.pdf" 
      class="pdf-viewer">
    </iframe>
  </div>

</Layout>
