---
import Nav from '../../components/Nav.astro';
import Layout from '../../layouts/Layout.astro';

// Fetch all Markdown posts inside /blog
const blogPosts = await Astro.glob('./*.md');

// Sort posts by date (optional)
blogPosts.sort((a, b) => new Date(b.frontmatter.date) - new Date(a.frontmatter.date));
---
<Layout>
<Nav/>

<h1>Blog Posts</h1>
<ul>
  <p>Total posts: {blogPosts.length}</p>
  {blogPosts.map((post) => (
    <li>
      <a href={`${post.url}`}>{post.frontmatter.title}</a>
    </li>
  ))}
</ul>

</Layout>
