---
import Nav from '../../components/Nav.astro';
import Layout from '../../layouts/Layout.astro';
import '../../styles/styles.css';
---

<Layout>
<Nav/>

<div>
<a href="https://www.linkedin.com/in/kshivareddy/" target="_blank">LinkedIn</a>  
</div>
<div>
<a href="https://github.com/shivajreddy" target="_blank">Github</a>  
</div>
<div>
<a href="https://discord.com/users/simplecolon" target="_blank">Discord</a>  
</div>

</Layout>
