---
import { getCollection } from 'astro:content';
import Nav from '../components/Nav.astro';
import '../styles/styles.css';

---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>shiva</title>
  </head>
  <body>
      <Nav/>

    <main>
      <h1>Hello, World!</h1>
    </main>

    <footer>
      <p>&copy; {new Date().getFullYear()} shiva.computer All rights reserved.</p>
    </footer>
  </body>
</html>

