---
import Nav from "../components/Nav.astro"

import Layout from '../layouts/Layout.astro';
import '../styles/styles.css';

// Props passed from Markdown files
const {frontmatter} = Astro.props;
---
<Layout>

<Nav/>

<article>
  <h1>{frontmatter.title}</h1>
  <p><i>Published on:{frontmatter.date}</i></p>
  <hr/>

  <slot/> <!-- your content is injected here -->

</article>
</Layout>
